.card-deck {
    margin-top : 90px;
   
}
.card-img-top{
    width: 70px;
    height: 70px;
    margin-top: 40px;

}
.align-self-center{
    width: 30%;
    height: 40%;
}

.media{
    margin-top: 100px;
}

.slogan{
    margin-top: 40px;
    margin-bottom: 2px;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    bottom: -70px !important;
}    